body {
  background-color: black;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

/* 
.nav{
  width: 100;
} */

.nav_bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: blue;
}

.search_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  width: 30%;
}

.search_bar input {
  border: none;
  background-color: black;
  color: white;
  width: 400px;
}

.search_bar input::placeholder {
  font-weight: bold;
  color: white;
}

.search_bar input:focus {
  outline: none;
}

.sub_bar {
  display: flex;
  ;
  justify-content: space-between;
  ;
  align-items: center;
  width: 100%;
  background-color: rgb(238, 238, 118);
  color: blueviolet;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
}

.sub_bar.items {
  padding: 10px;

}

.sub_bar .items:hover {
  background-color: blue;
  cursor: pointer;
}

td {
  vertical-align: middle;
  cursor: pointer;
}